
/* TODO: Fazer a div de container não dar barra de rolagem horizontal */


@font-face {
    font-family: lobster ;
    src: url(../font/lobster.otf) ;
}

h2, h3, h4, h5 {
    color: #8e44ad
}
a:hover {
    color: #8e44ad;
    text-decoration-color: #8e44ad;
}

.logo {
    font-family: lobster ;
    font-size: 22pt ;
}

.cabecarioBusca {
    background-color: #8e44ad ;
    color: #fff ;
    height: 400px ;
    margin-top: 50px ;
    padding-top: 150px;
    text-align: center !important;
}

.form-control {
    background: transparent;
    border: none;
    color: #fff;
    border-radius: 0;
    border-bottom: solid #fff 1px;
    box-shadow: none;

}

.form-control:active {
    box-shadow: none !important;
}

.form-control:focus {
    border-color: #fff;
    opacity: 0.6;
    box-shadow: none !important;
}

.form-control::-moz-placeholder {
    color: #fff;
    opacity: 0.5
}

.form-control:-ms-input-placeholder {
    color: #fff
}

.form-control::-webkit-input-placeholder {
    color: #fff
}

.div-resultados {
    -webkit-box-shadow: 0px -9px 106px 7px rgba(168,168,168,0.47);
    -moz-box-shadow: 0px -9px 106px 7px rgba(168,168,168,0.47);
    box-shadow: 0px -9px 106px 7px rgba(168,168,168,0.47);
}